<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TEst</h1>
    
    <form method="post">
        {% csrf_token %}
        <label for="nama">Nama : </label>
        <input type="text" name="nickname" id="nama">
        <br>
        <label for="alamat">Alamat : </label>
        <input type="text" name="alamat" id="alamat">
        <br>
        <button type="Submit">Kirim</button>
    </form>

    <h2>Nama : {{ nickname }}</h2>
    <h2>Alamat : {{ alamat }}</h2>
</body>
</html>